$font-family-headings = Georgia, sans

$font-family-base = "Microsoft YaHei", Verdana, sans-serif

$code-font-family = "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace

$font-size-base = 16px

$code-font-size = 13px
